@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
:root{
     --green: #395B50;
     --cream: #D5C7BC;
     --black: #34252F;
     --white: #F1FFFA;
     --taupe: #795C5F;
     --dark-green: #374040;
     --light-green: #95ADA5;
}

body{
    
    background-color: var(--white);
    margin: 0;
    color: var(--cream);
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.root{
    width: 100%
}

header{
    background-color: var(--green);
    margin: 0;
    color: var(--white);
    padding: 40px 0px;
    opacity: 87%;
    width: 100%
}
header h1{
    padding-left: 20px;
}
input{
    border: 0;
    font-family: 'Montserrat', Arial, sans-serif;
}
input:focus{
    outline: 0;
}

input[type="number"]{
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.veiw{
    width:100%
}
.economy{
    width: 100%
}

.globals{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--dark-green);
    color: var(--light-green);
    opacity: 87%;
    font-size: 1.6rem;
}
.globals *{
    margin: 0;
    padding: 0;
}
.global-content{
    padding: 40px 20px;
}

.globals h2{
    color: var(--white);
}
.tranformations{
    background-color: var(--black)
}
.globals .colapsible{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-green);
    color: var(--black);
    width: 100%
}
.colapsible *{
    padding: 10px;
}

.globals .colapsible button{
    background-color: rgba(0, 0, 0, 0);
    margin:0;
    font-weight: 700;
}
.globals select{
    background-color: var(--white);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 1.5rem;
    border: var(--dark-green) 1px solid;
    outline: 0;
    padding: 3px;
    border-radius: 3px;
    margin: 3px;
}
.globals option:checked{
    color: var(--black)
}
option:hover{
    color: var(--taupe)
}


.globals label{
    padding: 10px;
}

.globals input{
    font-size: 1.5rem;
    width: 3ch;
    background-color: var(--white);
    border-radius: 3px;
    margin: 3px;
    padding: 3px;
}


.content button{
    font-size: 1.5rem;
    padding: .5rem 3rem;
    background-color: var(--white);
    color: var(--black);
    display: inline-block;
}

.globals h4{
    font-size: 1.8rem;
}

.content{
    width: 100%;
    margin: 0;
    padding: 20px 0px;
}
.content p, .content form{
    padding: 0px 20px;
}

.global-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.content button:hover{
    background-color: var(--black);
    color: var(--white);
    outline: 2px var(--white) solid;
}

.globals h4{
    margin: 10px 0px;
}

.globals p{
    margin: 0;
    font-size: 1.4rem;
}
.globals p:last-of-type{
    margin-bottom: 20px;
}
.card-holder{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.item-card{
    background-color: var(--cream);
    border-radius: 10px;
    color: var(--black);
    padding: 0px 10px;
    min-width: 300px;
    width:fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 2rem;
    padding: 20px 0px 0px 0px;
    gap: 10px;
}
.item-title{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 2rem;
    padding: 20px 0px 0px 0px;
    gap: 10px;
}

.item-title input{
    background-color: var(--white);
    font-size: 2rem;
    border: 0;
    border-radius: 3px;
    padding: 3px;
    color: var(--taupe);
    font-family: 'Montserrat',  Arial, sans-serif;
    font-weight: 700;
    width: 10rem;
}

.card-buttons{
    display:flex;
    gap: 3px;
    font-weight: 900;
}

.save{
    color: var(--green)
}
.save:hover{
    color: var(--light-green)
}
.item-title h3{
    margin:0;
    padding: 0;
}
.item-title h3:hover{
    color: var(--taupe);
}
.item-title h3:focus{
    outline: 0;
    color: var(--taupe);
}
.item-title button{
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0);
}

.item-price{
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0px 20px;
    margin: 0px;
    color: var(--black);
    gap: 10px;
    
}
.item-price span{
    font-size: 1.5rem;
    font-weight: 700;
}

.item-price input{
    font-size: 1rem;
    color: var(--taupe);
    border: 0;
    background-color: var(--white);
    border-radius: 3px;
    width: 3ch;
    text-align: right;
    margin: 0px 2px;
    
}



.item-price span:hover{
    color: var(--taupe);
}

.item-var{
    display: flex;
    justify-content: space-between;
    color: var(--taupe);
    padding: 5px 0px;
    gap: 10px;
    align-items: center;
}
.item-var input{
    background-color: var(--white);
    opacity: 87%;
    color:var(--taupe);
    border: 0; 
    border-radius: 3px;
    font-size: 1rem;
    width: 2ch;
    font-family: 'Montserrat', Arial, sans-serif;
    text-align: center;
}
.item-var p{
    font-weight: 700;
    
}

.item-var p{
    padding:0;
    margin: 0;
}

button{
    border: none;
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
}
button:hover{
    color: var(--taupe)
}

.card-button{
    width: 320px;
    background-color: var(--light-green);
    color: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 134px;
}


.card-button:hover{
    background-color: var(--green);
    color: var(--white)
}

